CONFIG_NAME=awsdock
ENV_NAME=
ENV_NAME_DEFAULT=dockenv
ENV_BUCKET_CONFIGS="zinc3d:input prompt"
AWS_REGION=
MAX_CPUS=
BID_PERCENTAGE=
JOB_IMAGE_DEFAULT=btingle/dockaws:latest
JOB_IMAGE=
RETRY_STRATEGY="attempts=5,evaluateOnExit=[{onExitCode=1,action=RETRY}]"
JOB_JSON_CONFIG="\
{\
\"image\":\"____ECS_IMAGE_ARN____\",\
\"vcpus\":1,\
\"memory\":2048,\
\"command\":[],\
\"privileged\":true,\
\"linuxParameters\":{\
\"sharedMemorySize\":6144\
}\
}"