CONFIG_NAME=awsdock
ENV_NAME=dockenv
ENV_NAME_DEFAULT=dockenv
ENV_BUCKET_CONFIGS="zinc3d:input prompt:input,output"
ENV_AWS_REGION=us-east-1
MAX_CPUS=
BID_PERCENTAGE=
JOB_IMAGE_DEFAULT=dockingorg/dockaws:latest
JOB_IMAGE=dockingorg/dockaws:latest
# options for allocation startegy:
# BEST_FIT_PROGRESSIVE | BEST_FIT | SPOT_CAPACITY_OPTIMIZED
# don't want to think about it? do one of the BEST_FIT options, they'll get the job done. 
# SPOT_CAPACITY_OPTIMIZED should be used with care, it's probably not what you want
ALLOCATION_STRATEGY=BEST_FIT_PROGRESSIVE
RETRY_STRATEGY="attempts=5,evaluateOnExit=[{onExitCode=1,action=RETRY}]"
JOB_JSON_CONFIG="\
{\
\"image\":\"____ECS_IMAGE_ARN____\",\
\"vcpus\":1,\
\"memory\":1024,\
\"command\":[],\
\"privileged\":true\
}"
