CONFIG_NAME=awsdock
ENV_NAME=dockenv
ENV_NAME_DEFAULT=dockenv
ENV_BUCKET_CONFIGS="zinc3d:input btingletestbucket:input,output"
ENV_AWS_REGION=us-west-1
MAX_CPUS=100
BID_PERCENTAGE=100
JOB_IMAGE_DEFAULT=btingle/dockaws:latest
JOB_IMAGE=btingle/dockaws:latest
RETRY_STRATEGY="attempts=5,evaluateOnExit=[{onExitCode=1,action=RETRY}]"
JOB_JSON_CONFIG="\
{\
\"image\":\"____ECS_IMAGE_ARN____\",\
\"vcpus\":1,\
\"memory\":2048,\
\"command\":[],\
\"privileged\":true,\
\"linuxParameters\":{\
\"sharedMemorySize\":6144\
}\
}"