CONFIG_NAME=awsdock
ENV_NAME=dockenv
ENV_NAME_DEFAULT=dockenv
ENV_BUCKET_CONFIGS="zinc3d:input prompt:input,output"
ENV_AWS_REGION=us-east-1
MAX_CPUS=
BID_PERCENTAGE=
JOB_IMAGE_DEFAULT=dockingorg/dockaws:latest
JOB_IMAGE=dockingorg/dockaws:latest
RETRY_STRATEGY="attempts=5,evaluateOnExit=[{onExitCode=1,action=RETRY}]"
JOB_JSON_CONFIG="\
{\
\"image\":\"____ECS_IMAGE_ARN____\",\
\"vcpus\":1,\
\"memory\":512,\
\"command\":[],\
\"privileged\":true\
}"
